@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1 { 
    @apply text-3xl;
  }

  h2 { 
    @apply text-2xl;
  }

  h3 { 
    @apply text-xl;
  }

  h4 { 
    @apply text-lg;
  }

  p { 
    @apply text-base text-justify;
  }

  i {
    @apply text-2xl;
  }

}

.alice-regular {
  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
}

.wave-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-navbar svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 150px;
}

.wave-navbar .shape-fill {
  fill: #161616;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
